<template>
	<div class="mt-5">
		<h1>Formularios</h1>
	<form>
		<b-row>
<b-col md="3">
	<b-form-input type="text" v-model="texto" :state="comprobar"></b-form-input>
	<small>Mínimo 3 caracteres</small>
</b-col>
<b-col md="3">
	<b-form-select v-model="select" :options="animales"></b-form-select>
	<p>{{select}}</p>
</b-col>
<b-col md="3">
	<b-form-radio-group v-model="radio" :options="plantas"></b-form-radio-group>
	<p>{{radio}}</p>
</b-col>
<b-col md="3">
<b-form-group>
	 	<b-form-checkbox-group v-model="checkbox" :options="frutas"></b-form-checkbox-group>
	<p>{{checkbox}}</p>
</b-form-group>

</b-col>

		</b-row>

		

	</form>
	<p>texto: {{texto}}</p>
	</div>

</template>

<script>
	export default {
		name: 'Form',
		data() {
			return {
				texto:'',
				radio: null,
				select: null,
				checkbox: [],
				animales: [
					{value: null, text: 'Seleccione un animal'},
					{value: 'perro', text: 'Bianca Channel'},
					{value: 'paloma', text: 'Picolina Núa Fabiel'},
					{value: 'pato', text: 'Lucrecia Iris Lucrecia'},
				],
					plantas: [
					{value: null, text: 'Seleccione una planta'},
					{value: 'Begonia', text: 'Begonia'},
					{value: 'Lavanda', text: 'Lavanda'},
					{value: 'Girasol', text: 'Girasol'},
				],
				frutas: [
					{value: null, text: 'Seleccione una fruta'},
					{value: 'Durazno', text: 'Durazno'},
					{value: 'Ciruela', text: 'Ciruela'},
					{value: 'Manzana', text: 'Manzana'},
				],
			}
		},
		computed:{
			comprobar(){
				return this.texto.length < 2 ? false : true 
			}
		}
	}

</script>