<template>
<div class="mt-5">
<b-row>
<b-col cols="12" md="6" lg="4">
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi labore nihil incidunt rem. Officiis ullam adipisci, veniam, quos quia saepe quae aut totam impedit pariatur quisquam corporis. Incidunt, suscipit! Neque.</p>
</b-col>
<b-col cols="12" md="6" lg="8">
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi labore nihil incidunt rem. Officiis ullam adipisci, veniam, quos quia saepe quae aut totam impedit pariatur quisquam corporis. Incidunt, suscipit! Neque.</p>
</b-col>

</b-row>

<b-row>
<b-col cols="12" md="6" lg="4">
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi labore nihil incidunt rem. Officiis ullam adipisci, veniam, quos quia saepe quae aut totam impedit pariatur quisquam corporis. Incidunt, suscipit! Neque.</p>
</b-col>
<b-col cols="12" md="6" lg="8">
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi labore nihil incidunt rem. Officiis ullam adipisci, veniam, quos quia saepe quae aut totam impedit pariatur quisquam corporis. Incidunt, suscipit! Neque.</p>
</b-col>

</b-row>

</div>
</template>


<script>
export default {
name:'Grid'
}
</script>
