<!doctype html>
<html lang="es">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <title>Computed</title>
</head>

<body>
    <div id="app" class="container">
        <h1>Computed</h1>
        <h3>{{mensaje}} </h3>
        <h3>invertido:{{invertido}} </h3>
        <input type="text" class="form-control" v-model="mensaje">
        <hr>
        <button class="btn btn-primary" @click="contador++">+</button>
        <button class="btn btn-danger" @click="contador--">-</button>
        <h3>{{contador}} </h3>

        <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" :style="{'width': contador + '%'} " aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" :class="color">
                {{contador}} %
            </div>
        </div>

    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="app.js"></script>

</body>

</html>