<template>
    <div class="m-5 text-center ">
       <button type="button" class="btn btn-danger"  @click="reiniciar">Reiniciar</button>
    </div>

</template>

<script>
import {mapState, mapMutations} from 'vuex';

    export default {
name: 'Boton',
    computed:{
    ...mapState(['frutas'])
},
methods: {
    ...mapMutations(['reiniciar'])
}


    }

</script>