<template>
    <div>
<h1> Imagen desde Componente:{{$route.params.id}}</h1>

    </div>
</template>

<script>
//Paso componentes como parametros dentro de la ruta
export default {
    name: 'Imagen'
}
</script>


