<template>
    <div>
        <h1>Galeria </h1>


<router-link :to="{name:'fotos', params: {id:item} }" 
v-for="(item,index) of galeria" :key="index">
<button> foto {{item}}</button>

</router-link>


        <Imagen></Imagen>
    <button @click="home"> Home </button>
    <button @click="anterior"> Anterior </button>
    <button @click="siguiente"> Siguiente </button>
    </div>
</template>

<script>
import Imagen  from '@/components/Imagen.vue'

export default {
components:{
Imagen
},
data() {
    return {
        galeria:[1,2,3,4,5]
    }
},
methods: {
    home(){
        this.$router.push('/') //para ir a otra ruta
    },
    anterior(){
        this.$router.go(-1)
    },
    siguiente(){
        this.$router.go(1)
    }
}
    
}

    
</script>
