<template>
<div class="container">

  <Cabecera></Cabecera>
   <Lista></Lista>
    <Boton></Boton>
  </div>
</template>

<script>
import Cabecera from './components/Cabecera.vue'
import Lista from './components/Lista.vue'
import Boton from './components/Boton.vue'

export default { //Componente padre o principal
  name: 'App',
  components: {
      Cabecera,
      Lista,
      Boton
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
