<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Primer Proyecto</title>

</head>

<body>
    <div id="app">
        <h1>{{titulo}}</h1>
        <input type="text" v-model="nuevafruta" @keyup.enter="agregarfruta">
        <button v-on:click="agregarfruta">Agregar</button>
        <p>Frutas:</p>
        <ul>
            <li v-for="fruta of frutas">
                {{fruta}}
            </li>
        </ul>

        <input type="text" v-model="nuevoanimal" @keyup.enter="nuevoanimal">
        <button @click="agregaranimal">Agregar</button>
        <p>Animales:</p>
        <ul>
            <li v-for="animal of animales">
                {{animal.nombre}} - {{animal.phylum}}
                <span v-if="animal.phylum === 'mamífero'"> "VERTEBRADO"</span>
            </li>
        </ul>

    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="JavaScriptProject.js"></script>

</body>

</html>