<!doctype html>
<html lang="es">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://unpkg.com/vuex@3.6.2/dist/vuex.js"></script>

    <title>Vuex</title>
</head>

<body>
    <div id="app">
        <titulo></titulo>
    </div>

    <script>
        Vue.component('titulo', {
            template: //html
                `
            <div>
                <h3>numero: {{numero}} </h3> <!-- {{sin el map va: $store.state.numero}} {{numero}} -->
                <subtitulo></subtitulo>
            </div>

            `,
            computed: {
                ...Vuex.mapState(['numero'])
            }
            /*computed: {
                numero() {
                    return store.state.numero
                }
            }*/


        });

        Vue.component('subtitulo', {
            template: //html
                `
            <div>
                <button @click="aumentar">+</button>
                <button @click="restar(2)">-</button>
            
                <button @click="obtenerCursos">Obtener Cursos</button>
                <h3>numero: {{numero}} </h3>

                <ul v-for="item of cursos">
                    <li>{{item.nombre}}</li>
                    </ul>
            </div>

            `,
            computed: {
                ...Vuex.mapState(['numero', 'cursos']),

            },
            methods: {
                ...Vuex.mapMutations(['aumentar', 'restar', 'llenarCursos']),
                ...Vuex.mapActions(['obtenerCursos'])
            }
        });

        const store = new Vuex.Store({
            state: {
                numero: 10,
                cursos: []
            },
            mutations: {
                aumentar(state) {
                    state.numero++
                },
                restar(state, n) {
                    state.numero -= n
                },
                llenarCursos(state, cursosAccion) {
                    state.cursos = cursosAccion
                }
            }, //ASYNC/AWAIT -fetch --BUSCAR QUE ES
            actions: {
                obtenerCursos: async function({
                    commit
                }) {
                    const data = await fetch('cursos.json');
                    const cursos = await data.json();
                    commit('llenarCursos', cursos)

                }
            }
        });

        new Vue({
            el: '#app',
            store: store //store 
        })
    </script>
</body>

</html>