<template>
  <div class="continer">
<Grilla></Grilla>

  </div>
</template>

<script>
import Grilla from './components/Grilla.vue'

export default {
  name: 'App',
  components: {
    Grilla
  }
}
</script>
