<template>
<div>
<v-row :wrap="true">
<v-col xs="12" sm="12">
<v-card>
<v-date-picker v-model="picker" full-width class="mt-4" locale="es-ar"
:min="fechaMinima" :max="fechaMaxima" @change="getDolar(picker)">

</v-date-picker>

</v-card>

	 <v-card color="error" dark>
		 <v-card-text class="subtitle-1 text-center" v-if="picker != '' " >
			  Compra: {{valorCompra}} - Venta: {{valorVenta}} - Fecha: {{picker}} 
		 </v-card-text>
	 </v-card>
</v-col>

</v-row>
</div>
</template>

<script>
import axios from "axios"

  export default {
    data(){
		return {
			picker: new Date().toISOString().substr(0,10),
			fechaMinima: '1984',
			fechaMaxima: new Date().toISOString().substr(0,10),
			valorCompra: null, 
			valorVenta: null,
		}
	},
	methods:{
		async getDolar (dia){
			
		
			let arrayFecha = dia.split('-');
		
			let ddmmyy = arrayFecha[2] + "-" + arrayFecha[1] +"-" +arrayFecha[0];
			

		
			// TOKEN DE LA API DEL BCRA: let token = 'eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE2NTU0OTM1MTMsInR5cGUiOiJleHRlcm5hbCIsInVzZXIiOiJtYXJpZWxjYXJvOEBnbWFpbC5jb20ifQ.I1jWdh7J90EXoiVzdx-QVGJn7HoMeeINNCRfwxzFfhyNI1As8yg0XvNp4QGznsqu26K2e-dusHMe4yzzVi4Ilg'
			/*let datos= await axios.get('Access-Control-Allow-Origin:https://api.estadisticasbcra.com/usd_of',{
				headers: {
					
            "Content-type": "Application/json",
					
					"Authorization":`BEARER ${token}`	}	}).then ((res) => {console.log(res.data)}).catch((error)=>{console.error(error)})
			*/
			try {
			let datos= await axios.get(`https://www.dolarsi.com/api/api.php?type=valoresprincipales`)

			this.valorCompra= datos.data[0].casa.compra 
			this.valorVenta= datos.data[0].casa.venta 
			}
			catch (error) {
				console.error(error);
				}
					finally{

			}

		


		}
	},
	created(){
		this.getDolar(this.picker);
	}
  }
</script>
